apiVersion: v1
kind: Pod
metadata:
  name: kafka-test
  namespace: apps
spec:
  containers:
    - name: kafka-test
      image: apache/kafka:3.7.0
      command: [ "bash" ]
      stdin: true
      tty: true
      resources:
        requests:
          cpu: "100m"
          memory: "256Mi"
        limits:
          cpu: "500m"
          memory: "512Mi"
