spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/admin
    username: admin
    password: admin
    initialization-mode: always

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7070/.well-known/jwks.json
