spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/fin_db
    username: fin_user
    password: fin_pass

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7070/.well-known/jwks.json
