services:
  account-service:
    image: account-service:local
    profiles: [ "full", "demo", "ci" ]
    env_file:
      - ../../env/common.env
      - ../../env/demo.env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILE:-default}
    depends_on:
      - postgres
      - redis
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.account.rule=Host(`api.fin.soul.test`)"
      - "traefik.http.services.account.loadbalancer.server.port=8080"
    ports:
      - "8090:8080"
    networks:
      - platform
